{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Stock Digital | Ferrogrisoft</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ang/assets/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'ang/styles.css' %}">
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="{% static 'ang/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/1.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/2.js' %}"></script>
	  <script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
	  <script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
	  <script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/4.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/5.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/6.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/7.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'ang/8.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/9.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/10.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/11.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/12.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'ang/13.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/14.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/15.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/16.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/17.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/18.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/19.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/20.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/21.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/22.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/23.js' %}"></script>
    <script type="text/javascript" src="{% static 'ang/24.js' %}"></script>
</body>

</html>